# Lab: Statistical Thinking Foundations

![penguins](https://allisonhorst.github.io/palmerpenguins/reference/figures/lter_penguins.png)

https://allisonhorst.github.io/palmerpenguins/

In [ ]:
import pandas as pd

In [3]:
penguins_url = "https://raw.githubusercontent.com/allisonhorst/palmerpenguins/c19a904462482430170bfe2c718775ddb7dbb885/inst/extdata/penguins.csv"
penguins_df = pd.read_csv(penguins_url)
penguins_df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007

## Exercise 1

Discuss about the dataset. What is the meaning of each column? (Hint: Read the website and you may have to follow some links). What kind of analysis can you do? Etc.

## Exercise 2

Tell me something interesting about each column

## Exercise 3

Is there any _cool_ relationship between columns?